extends layout

block content
    h1.text-center.main-title  Add Business
    form(method='POST', action='/business/create')
        .row
            .large-6.large-centered.columns
                label
                    | Business Name
                    input(type='text', placeholder='Add a name for your business', name='name')
                label
                    | Category
                    select(name='category')
                        option(disabled value) Select a category
                        option(value='Accounting') Accounting
                        option(value='Science') Science
                        option(value='IT') IT
                        option(value='Marketing') Marketing
                        option(value='Healthcare') Healthcare
                        option(value='Other') Other

                label
                    | Website
                    input(type='text', name='website')
                label
                    | Phone
                    input(type='text', name='phone')
                label
                    | Address
                    input(type='text', name='address')
                label
                    | City
                    input(type='text', name='city')
                label
                    | ZIP Code
                    input(type='text', name='zip')
                if errors
                    each error, i in errors
                        .alert-box.alert.round(data-alert='') #{error.msg}
                            a.close(href='#') &times;
                button.small.button.round(type='submit')
                    | Create

