extends layout

block content
    h1 Business List

    ul.listings
        each business, i in businesses
            li
                a(href='/business/show/'+business.value._id) #{business.value.name}
                br
                | Location: #{business.value.city}, #{business.value.address}
                br
                | Phone: #{business.value.phone}
