doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bower_components/foundation/css/foundation.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content

        script(src='/bower_components/modernizr/modernizr.js')
        script(src='/bower_components/foundation/js/vendor/jquery.js')
        script(src='/bower_components/foundation/js/foundation.min.js')
        script(src='/javascripts/main.js')

