body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-title {
  font-weight: 900;
  letter-spacing: 2px;
}

ul.listings {
  padding: 40px;
  background-color: #eaeaea;
  margin: 5px;
  list-style: none;
  border: 1px solid lightgray;
}

ul {
  margin-left: 0 !important;
}

.listings li {
  margin-bottom: 10px;
  border-bottom: 1px dashed lightgray;
}

.listings li:last-child{
  border: none;
}

.header {
  margin-top: 0;
  margin-bottom: 40px;
}

.form-container{
  display: inline !important;
  margin-left: 10px;
}

ul.text-center {
  list-style: none;
}

.hr {
  width: 50%;
  margin: 10px auto;
}